<div class=" jumbotron vertical-center">
    <h1>Welcome @User.Claims.FirstOrDefault(x => x.Type == "fullName")?.Value</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
</div>




    

        


